/*
	FONTS
*/

@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Regular'), local('FiraSans-Regular'),
        url('../fonts/FiraSans/FiraSans-Regular.woff2') format('woff2'),
        url('../fonts/FiraSans/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-Regular.eot');
    src: local('Fira Sans Regular'), local('FiraSans-Regular'),
        url('../fonts/FiraSans/FiraSans-Regular.woff2') format('woff2'),
        url('../fonts/FiraSans/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-SemiBold.eot');
    src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'),
        url('FiraSans-SemiBold.woff2') format('woff2'),
        url('FiraSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-Medium.eot');
    src: local('Fira Sans Medium'), local('FiraSans-Medium'),
        url('FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('FiraSans-Medium.woff2') format('woff2'),
        url('FiraSans-Medium.woff') format('woff'),
        url('FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-Bold.eot');
    src: local('Fira Sans Bold'), local('FiraSans-Bold'),
        url('FiraSans-Bold.woff2') format('woff2'),
        url('FiraSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
        url('../fonts/Raleway/Raleway-ExtraBold.woff2') format('woff2'),
        url('../fonts/Raleway/Raleway-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Bold'), local('Raleway-Bold'),
        url('../fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


/* ================= ============================*/

body {
	font-family: 'Fira Sans', sans-serif;
	font-size: 15px;
	line-height: 170%;
	font-weight: normal;
	color: #484848;
}

.container {
	width: 1366px;
	margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}

/* ==================	HEADER ============= */

.main-header {
	height: 906px;
	background: url('../img/bg/bg-01.png') no-repeat top center;
}

/*.main-header .main-header-wrapper {
	background: transparent url('../img/masks/mask.png') 0 0 no-repeat;
}*/

.main-header .main-navigation {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}

.main-header .site-navigation {
	margin: 0;
	padding: 48px 110px;
	width: 1142px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	order: 1;
}

.main-header .site-navigation .site-navigation-item {
	list-style-type: none;
}

.main-header .site-navigation .site-navigation-item a {
	text-transform: uppercase;
	color: #484848;
	text-decoration: none;
}

.main-header .site-navigation .site-navigation-item a.call {
	border-bottom: 1px #484848 dashed;
}

.main-navigation .main-header-logo {
	position: absolute;
	top: 35px;
	left: 45%;
	width: 137px;
	height: 48px;
	order: 2;
}

/* ================= Promo Information============= */

.promo .promo-inner {
    position: relative;
	width: 1018px;
	margin: auto;
	text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background: transparent url('../img/bg/photo_girl.png') bottom center no-repeat;
    z-index: 1;
}

.promo .promo-title {
	margin: 0;
	margin-top: 35px;
    position: relative;
	font-family:'Raleway', 'Arial', sans-serif;
	font-size: 200px;
	font-weight: 900;
	line-height: 170%;
	letter-spacing: 0.055em;
    text-transform: uppercase;    
    background: url('../img/images/Pic_overlay.png') no-repeat center center;
    color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
}

.promo-text p {
	margin-bottom: 32px;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}

.btn-scroll-down {
	width: 76px;
	height: 132px;
    margin-bottom: 25px;
	background: 
		transparent url('../img/icons/icon-scroll-down.png') 0 0 no-repeat;
}

/*



.promo .promo-text {
	width: 381px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
	position: absolute;
	bottom: -23%;
	left: 38%;
	
}



